@media(min-width:479px) {
	
	body {
		background-color: #f2f2f2;
	}
}
	h1 {
		text-align: center;
	}
@media(min-width:479px) {
	.form-group { /* 흰 배경 */
		margin-left: 30px;
		width: 	300px;
		height: 300px;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		display: inline-block;
		box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	}
}
@media(min-width:480px) {
	.form-group input[type="text"], .form-group textarea { /* 텍스트 */
		width: 200%;
		height: 200%;
		padding: 10px;
		border: 0px solid #ccc;
		box-sizing: border-box;
	}
}
@media(min-width:479px) {
	.form-group textarea {
		width: 260px;
		height: 210px;

	}
}
@media(min-width:479px) {
	.form-group .submit-button {
		background-color: #2f4f4f;
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 80px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
}
@media(min-width:479px) {
	.form-group .submit-button-container {
		float: right;
		width: 30%;
		text-align: right;
	}
}

.navbar-nav {
	margin-left: auto;
  }

.nav-link {
	margin-left: 100px;
}

@media(min-width:479px) {
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 10%;
		background-color: #a8a8a8;
		color: white;
		text-align: center;
		padding: 10px;
	  }
}