body {
	width: 100vw;
	height: 100vh;
	-ms-overflow-style: none; /* 인터넷 익스플로러 */
	scrollbar-width: none; /* 파이어폭스 */
}

/* 스크롤 바 안뜨게 설정 */
body::-webkit-scrollbar {
	display: none;
}

@media(min-width:479px) {
	/* navbar */
	.navbar {
		position: absolute !important;
		width: 100%;
		z-index: 100;
	}
	
	.navbar-nav {
        margin-left: auto;
        font-family: 'Pretendard';
       }

    .navbar-collapse {
       margin-right: 10%;
    }
	 
	.nav-link {
        margin-right: 100px;
        margin-left: 50px;
        font-family: 'Pretendard';
    }
     
	.navbar-brand {
        margin-left: 17%;
    }

	.closep {
		display: none;
	}

	.closeclose {
		display: none;
	}

	/* navbar */
	
	/* content */
	.background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #FFF;
	}

	.content {
		width: 100%;
		height: 100%;
		position: relative;
	}
	/* swiper */


	video::-webkit-media-controls-fullscreen-button {
		display: none !important;
	}

	video {
		width: 100vw;
		height: 100vh;
	}
	
	.main_txt {
		position: absolute;
		bottom: 8.7%;
		left: 16.45%;
		z-index: 100;
	}


	.main_txt span {
		font-family: 'Pretendard';
		font-weight: 900;
		font-size: 9.5vmin;
		line-height: 80%;
		display:table-cell;
		color: #74748C;
	}
	
	.main_txt span:nth-child(1) {
		animation-delay:0s;
	}
	.main_txt span:nth-child(2) {
		animation-delay:0.1s;  
	}
	.main_txt span:nth-child(3) {
		animation-delay:0.2s;
	}
	.main_txt span:nth-child(4) {
		animation-delay:0.3s;  
	}
	.main_txt span:nth-child(5) {
		animation-delay:0.4s;
	}
	.main_txt span:nth-child(6) {
		animation-delay:0.5s;  
	}
	.main_txt span:nth-child(7) {
		animation-delay:0.6s;
	}
	.main_txt span:nth-child(8) {
		animation-delay:0.7s;
	}
	.main_txt span:nth-child(9) {
		animation-delay:0.8s;  
	}
	.main_txt span:nth-child(10) {
		animation-delay:0.9s;
	}
	.main_txt span:nth-child(11) {
		animation-delay:1.0s;  
	}
	.main_txt span:nth-child(12) {
		animation-delay:1.1s;
	}
	.main_txt span:nth-child(13) {
		animation-delay:1.2s;
	}
	.main_txt span:nth-child(14) {
		animation-delay:1.3s;
	}
	.main_txt span:nth-child(15) {
		animation-delay:1.4s;  
	}
	.main_txt span:nth-child(16) {
		animation-delay:1.5s;
	}
	.main_txt span:nth-child(17) {
		animation-delay:1.6s;
	}
	.main_txt span:nth-child(18) {
		animation-delay:1.7s;  
	}
	.main_txt span:nth-child(19) {
		animation-delay:1.8s;
	}
	.main_txt span:nth-child(20) {
		animation-delay:1.9s;
	}
	.main_txt span:nth-child(21) {
		animation-delay:2.0s;
	}
	.main_txt span:nth-child(22) {
		animation-delay:2.1s;  
	}
	.main_txt span:nth-child(23) {
		animation-delay:2.2s;
	}
	.main_txt span:nth-child(24) {
		animation-delay:2.3s;
	}

	.sub_txt1 {
		position: absolute !important;
		font-family: 'Pretendard';
		font-weight: 500;
		font-size: 2.1vmin;
		line-height: 160%;
		top: 15.92%;
		left: 16.35%;
		color: #74748C;
		z-index: 100;
	}	

	.sub_txt2 {
		position: absolute;
		font-family: 'Pretendard';
		font-weight: 500;
		font-size: 2.1vmin;
		line-height: 160%;
		top: 15.92%;
		right: 16.45%;
		color: #74748C;
	}	

	.num_txt1 {
		position: absolute;
		font-family: 'Pretendard';
		font-weight: 600;
		font-size: 2.1vmin;
		line-height: 160%;
		left: 16.45%;
		bottom: 27.5%;
		color: #9A9AB3;
	}	

	.num_txt2 {
		position: absolute;
		font-family: 'Pretendard';
		font-weight: 600;
		font-size: 2.1vmin;
		line-height: 160%;
		left: 34%;
		bottom: 27.5%;
		color: #9A9AB3;

	}	

	.btn_gallery {
		position: absolute;
		width: 16.57vmin;
		height: auto;
		left: 16.35%;
		top: 23.7%;
		z-index: 100;
	}

	.btn_pause {
		position: absolute;
		width: 11.82vmin;
		height: 11.82vmin;
		bottom: 10.4%;
		right: 16.4%;
	}

	.swiper-navigation {
		z-index: 9999;
	}

	.swiper-scrollbar {
		position: absolute;
		width: 13.59% !important;
		height: 0.27% !important;
		bottom: 30.6% !important;
		left: 19.3%  !important;
		color: #9A9AB3 !important;
		background-color: #dbdbe6 !important;
	}

	.bottom_content {
		display: none;
	}

	.typing {
		display: none;
	}
	/* content */
	
	/* footer */	
	/* #footer {
		position: relative;
		transform: translatY(100%);
		margin-top: 5%;
		height: 213px;
	
		background: #F6F6FA;
	}
	
	.logo-bottom {
		width: 3%; 
		height: 3%; 
		margin-left: 18.5%;
		margin-top: 2%;
	}
		
	.navbar-nav-bottom {
		margin-left: auto;	
		font-family: 'Pretendard';
		float: right;
		margin-right: 10%;
		margin-top: 2%;
	}
	
	.nav-link-b {
		margin-right: 100px;
		margin-left: 50px;
		font-family: 'Pretendard';
		color: #676769b9;
		text-decoration: none;
	}
	
	.line-bottom {
		width: 67%;
		margin-left: 18%;
		margin-top: 1%;
		border: 1px solid #67676930;
	}
	
	.nav-link-b-b {
		margin-left: 18.5%;
		font-family: 'Pretendard';
		color: #676769ac;
		text-decoration: none;
	}
	
	.navbar-bottom-bottom{
		margin-top: 1%;
	}
	 */
	/* footer */
}

