/* navbar */
@media(max-width:390px) {
    .navbar-nav {
        margin-left: auto;
        font-family: 'Pretendard';
        text-align: right;
    }
}

@media(max-width:390px) {
    .navbar-collapse {
        margin-right: 5%;
    }
}

@media(max-width:390px) {
    .nav-link {
        margin-right: 2svh;
        /* margin-left: 50px; */
        font-family: 'Pretendard';
    }
}

@media(max-width:390px) {
    .navbar-brand {
        margin-left: 2svh;
    }
}

@media(max-width:390px) {
    .navbar-toggler {
        margin-right: 2svh;
    }
}

@media(max-width:390px) {
    .line {
        position: absolute;
        width: 112px;
        height: 0px;
        margin-left: 16px;
        top: 120px;

        border: 0.5px solid #424242;
    }
}

@media(max-width:390px) {
    .rankingTitle {
        position: absolute;
        width: 112px;
        height: 26px;
        margin-left: 16px;
        top: 124px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;

        color: #424242;
    }
}

/* 게시판 순위 */
@media(max-width:390px) {
    #ranking {
        position: relative;
        width: 100%;
        /* margin-left: 16px; */
        margin-left: 3.5%;
        margin-top: 118px;
    }

    #slides {
        position: absolute;
        margin: 0;
        padding-left: 0;
        left: 0;
    }

    #slides li {
        flex-shrink: 0;
        flex: 0 0 302px;
        height: 258px;
        display: block;
        float: left;
        margin-right: 12px;

        background: #FFFFFF;

        box-shadow: 0px 0px 15px rgba(101, 101, 103, 0.1);
        border-radius: 10px;
    }

    #slides li a {
        text-decoration-line: none;
    }

    #slides li .numberRectangle {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        text-align: center;

        background: rgba(0, 0, 0, 0.4);
        /* backdrop-filter: blur(1.5px); */

        border-radius: 0px 5px 5px 0px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: -0.02em;

        color: #FFFFFF;
    }

    #slides li img {
        width: 100%;
        height: 154px;
        object-fit: cover;

        background:
            /*url(.jpg),*/
            rgba(71, 6, 109, 0.4);
        border-radius: 10px 10px 0px 0px;
    }

    #slides li .preview {
        margin-top: 0;
        padding: 12px 16px 16px 16px;

    }

    #slides li .preview .title {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;

        color: #363636;
    }

    #slides li .preview .detail {
        height: 44px;
        margin-top: 4px;
        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
        /* 넘치는 요소 숨기기 */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* 두 줄 기준 생략 */

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;

        color: #363636;
    }
}

@media(max-width:390px) {
    /* 갤러리 제목 */
    .galleryTitle {
        position: absolute;
        width: 94px;
        height: 28px;
        left: 133px;
        /* left: 143px; */
        top: 476px;
        /* top: 476px; */

        margin: 0;

        background: #FBFBFD;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
        border-radius: 0px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;

        text-align: center;

        color: #424242;
    }
}

@media(max-width:390px) {

    /* 게시판 갤러리 */
    .postGallery {
        position: relative;
        /* width: 328px; */
        width: 80%;

        left: 16px;
        top: 358px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 8px;

        margin: 0;
    }

    /* .postGallery ul {
        margin: 0;
        padding-left: 0;
    } */

    /* .postGallery li {
        width: 160px;
        height: 140px;
        margin-right: 8px;
        margin-bottom: 8px;

        float: left;
        display: block;
    } */

    .postGallery .item {
        width: 160px;
        margin: 0;
    }

    .postGallery .itemLarge {
        grid-column: span 2;
        width: 328px;
        margin: 0;
    }

    .postGallery a {
        position: relative;
        /* absolute의 기본 기준은 body로 처리 -> relative로 현재 요소로 기준 변경 */
    }

    .postGallery figure {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .postGallery figcaption {
        position: absolute;
        /* 이미지와 겹치게 처리 */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

        opacity: 0;
        /* 처음엔 안 보이게 처리 */

        transition: 0.3s;
    }

    /* item 설정 */
    .postGallery .item figcaption .title {
        position: absolute;
        width: 88%;
        height: 28px;
        margin-left: 6.8%;
        top: 10px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;

        color: #F2F2F2;
    }

    .postGallery .item figcaption .detail {
        position: absolute;
        width: 88%;
        height: 60px;
        margin-left: 6.8%;
        top: 40px;

        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        /* 세 줄 기준 생략 */

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;

        color: #F2F2F2;
    }

    /* itemLarge 설정 */
    .postGallery .itemLarge figcaption .title {
        position: absolute;
        width: 92%;
        height: 28px;
        margin-left: 3.5%;
        top: 10px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;

        color: #F2F2F2;
    }

    .postGallery .itemLarge figcaption .detail {
        position: absolute;
        /* width: 788px; */
        width: 92%;
        height: 65px;
        /* margin-left: 28px; */
        margin-left: 3.5%;
        top: 40px;

        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        /* 세 줄 기준 생략 */

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;

        color: #F2F2F2;
    }

    .postGallery a:hover figcaption,
    .postGallery a:focus figcaption {
        opacity: 1;
        /* 마우스를 올리면 보이게 처리 */
    }

    .postGallery img {
        width: 100%;
        height: 140px;

        object-fit: cover;

        filter: drop-shadow(0px 0px 8px rgba(101, 101, 103, 0.2));
    }
}

@media(max-width:390px) {

    /* 더보기 버튼 */
    .more {
        box-sizing: border-box;

        position: absolute;
        width: 77px;
        height: 40px;
        margin-left: 127px;
        bottom: -50px;
        
        border: 1px solid #D4D4D4;
        border-radius: 4px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        color: #424242;
    }
}

/* @media(max-width:479px) {
    #footer {
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0px;
        bottom: 0;

        background: #D9D9D9;
    }
} */