<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Post_Gallery.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 나열 페이지</title>
</head>
<body>
    <header id="header">
        <div class="rectangle"></div>
        <div class="rectangleLine"></div>
        <p class="rankTitle">Lorem Ipsum has been the industry's</p>
    </header>
    <!--갤러리 오른쪽으로 나열(아래로 안 내려가게)-->
    <div class="postRank">
        <ul>
            <li>
                <a href="">
                    <img src="/rank.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/rank.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/rank.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <p class="mainTitle">Lorem Ipsum</p>
    <div class="postGallery">
        <ul>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
            <li>
                <p class="thumb">
                    <a href="">
                    <img src="/gallery.png" alt="1">
                    </a>
                </p>
                <a class="title" href="">Lorem Ipsum has been the industry's</a>
            </li>
        </ul>
    </div>
    <div class="more">
        <button>더보기</button>
    </div>
    <footer id="footer"></footer>
</body>
</html>