/* header */
header {
  /* width: 1920px; */
  margin: 0px 315px 0px 315px;
}
/* header 960px */
@media (max-width: 960px) {
  header {
    /* width: 360px; */
    margin: 0px 157.5px 0px 157.5px;
  }
}
/* header 360px */
@media (max-width: 360px) {
  header {
    /* width: 960px; */
    
    margin: 0px 157.5px 0px 157.5px;
  }
}

.header_btn {
  float: right;
  /* padding: 0px 315px 0px 315px; */
  size: 15px;
}

/* header comment_btn */
.comment_btn {
  background-color: #ffff;
  border: none;
}

/* 네비게이션 */
.nv_btn {
  background-color: #ffff;
  border: none;
  padding: 0px 145px 0px 0px;
}

@media (max-width: 960px) {
  .nv_btn {
    padding: 0px 72.5px 0px 0px;
  }
}

@media (max-width: 360px) {
  .nv_btn {
    padding: 0px 36.25px 0px 0px;
  }
}

main {
  width: 1090px;
  padding: 140px 415px 0px 415px;
}

@media (max-width: 960px) {
  main {
    padding: 140px 207.5px 0px 207.5px;
    width: 545px;
  }
}

@media (max-width: 660px) {
  main {
    padding: 140px 103.75px 0px 103.75px;
    width: 272.5px;
  }
}

/* 글 제목 */
.title {
  text-align: left;
  padding: 32px 0px 58px 0px;
  size: 20px;
}

.detail_content {
  padding: 31px 0px 60px 0px;
}

/* 닉네임 */
.nickname {
  border: none;
  outline: none;
}

input::placeholder {
  color: #cbcbcb;
}
/* 내용 작성 */
.comment_content {
  border: none;
  outline: none;
}

/* 등록 버튼 */
.enroll_btn {
  border: none;
  float: right;
  background-color: #dfdfdf;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 32px 0px 64px 0px;
  font-size: 16px;
}

/* 등록된 댓글 */
.e_comment {
  border: 1px solid #e8e8e8;
  margin-top: 159px;
  padding: 24px 30px 21px;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .e_comment {
    width: 545px;
  }
}

@media (max-width: 360px) {
  .e_comment {
    width: 272.5px;
  }
}
