<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Post_Write.css">
    <title>게시물 작성 페이지</title>
</head>
<body>
    <!-- 내용작성 -->
    <div class="Post_Write">
        <input type="text" id="title" placeholder="제목을 작성해주세요." required> 
        <br/>
        <input type="text" id="content" placeholder="내용을 작성해주세요" required>
    </div>

    <!-- 사진첨부 -->
    <div class="Post_Img">
        <p class="imgtext">사진 첨부</p>
        <img class="img" src="img.png" alt="1">
    
    </div>
    <!-- 버튼 -->
    <div>
        <button class="post_btn">게시</button>
    </div>
</body>
<footer id="footer"></footer>
</html>