<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시물 상세 페이지</title>
    <link rel="stylesheet" href="Post_Details.css" />
  </head>
  <body>
    <header>
      <div class="header_btn">
        <button
          class="square_btn"
          type="submit"
          style="
            background-color: #727272;
            width: 70px;
            height: 39px;
            margin: 16px 513px 0px 0px;
            border: none;
          "
        ></button>
        <button class="nv_btn" type="submit">HOME</button>
        <button class="nv_btn" type="submit">ABOUT</button>
        <button class="nv_btn" type="submit">MEMORY</button>
        <button class="comment_btn" type="submit">COMMENT</button>
      </div>
    </header>

    <main>
      <hr style="color: #464646; border: 2px solid" />
      <div class="title">글 제목</div>
      <hr style="color: #e0e0e0; border: 1px solid" />

      <!-- 글 내용 -->
      <div class="detail_content">
        남의 말은 짜릿해 앞뒤로들 Make a fool 내가 볼 땐 아닌데 자기들만 Act so
        cool 상상은 자윤데 No way 진짜라고 믿거든 왜 자꾸 돌아가려 해 답답해 How
        can I say 서두르지 마 No hurries Anyway anyway 우린 다 이번 생은
        처음이잖아 정답은 없어 One hunnit 그런 기대감 내려놔 실망도 크니까 Quiet
        please 비행기 모드로 편히 앉아 불필요한 말 속으로내가 원할 때만 버튼 Ooh
        yeah Yeah yeah yeah yeah 바라만 봐 Just like Teddy Bear oohTeddy Bear
        ooh Teddy Bear ooh yeah Pump pump pump pump it up Teddy Bear No no no
        멋이 없어 매일매일 똑똑 말로만 So good 뻔뻔해 넌 마치 Like J J Bang bang
        Don't talk about it be about it or you will lose 욕심이 과해 Always wake
        it up, it's your 꿈서두르지 마 No hurries Anyway anyway 우린 다 이번
        생은 처음이잖아 정답은 없어 One hunnit 그런 기대감 내려놔 실망도 크니까
        Quiet please 비행기 모드로 편히 앉아 불필요한 말 속으로 내가 원할 때만
        버튼 Ooh yeah Yeah yeah yeah yeah 바라만 봐 Just like Teddy Bear
        oohTeddy Bear oohTeddy Bear ooh yeah Pump pump pump pump it up Teddy
        Bear 모드를 확실히 해걱정이 아니면 참견 Call it now call it now
        질투일지도 몰라 잘 하고 있는 건 나 So keep it down 네가 원하는 건 뭘까
        Quiet please 비행기 모드로 편히 앉아
      </div>
      <hr style="color: #464646; border: 1px solid" />

      <div class="comment">댓글</div>

      <!-- 댓글 -->
      <div>
        <form
          style="
            border: 1px solid;
            padding: 24px 19px 54px;
            border-radius: 20px;
            color: #f1f1f1;
            box-shadow: 1px 1px 2px 2px #f1f1f1;
          "
        >
          <input class="nickname" type="text" placeholder="닉네임" /><br />
          <hr
            style="
              background-color: #f1f1f1;
              width: 1092px;
              float: left;
              border: 1px solid;
            "
          />
          <input
            class="comment_content"
            type="text"
            placeholder="내용을 작성주세요"
          />
        </form>

        <button class="enroll_btn">등록</button>
      </div>
      <br />

      <!-- 등록된 댓글 -->
      <div class="e_comment">
        <div class="e_nickname">안녕하세요</div>
        <hr style="color: #f1f1f1; border: 1px solid" />
        <div class="e_content">
          우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무
          부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~ 우와
          너무 부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~
          우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무 부럽다~ 우와 너무
          부럽다~ 우와 너무 부럽다~
        </div>
      </div>
    </main>

    <footer
      style="
        margin-top: 126px;
        background-color: #d9d9d9;
        width: 1920px;
        height: 300px;
      "
    ></footer>
  </body>
</html>
