
/* 스크롤 바 안뜨게 설정 */
body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  
/* navbar */
@media(min-width:479px) {
    .navbar-nav {
        margin-left: auto;
        font-family: 'Pretendard';
       }
    }
    @media(min-width:479px) {
     .navbar-collapse {
       margin-right: 10%;
     }
    }
    @media(min-width:479px) {
       .nav-link {
        margin-right: 100px;
        margin-left: 50px;
        font-family: 'Pretendard';
     }
    }
    @media(min-width:479px) {
     .navbar-brand {
        margin-left: 17%;
     }
    }
    
    @media(min-width:479px) {
        .closep {
            display: none;
        }
    
        .closeclose {
            display: none;
        }
    }
    

/* 줄 */
.line {
    position: absolute;
    width: 168px;
    height: 0%;
    margin-left: 16.6%;
    top: 170px;

    border: 1px solid #424242;
}

/* 순위 제목 */
.rankingTitle {
    position: absolute;
    width: auto;
    height: auto;
    margin-left: 16.6%;
    top: 186px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;

    color: #424242;
}

/* 게시판 순위 */
#ranking {
    position: relative;
    width: 100%;
    margin-left: 16.6%;
    margin-top: 268px;
}

#slides{
    position: absolute;
    padding-left: 0;
    margin-bottom: 0;
    left: 0;
}

#slides li {
    flex-shrink: 0;
    flex: 0 0 410px;
    height: 396px;
    display: block;
    float: left;
    margin-right: 30px;
    /* margin-right: 0.6%; */

    background: #FBFBFD;

    box-shadow: 3px 3px 20px rgba(101, 101, 103, 0.2);
    border-radius: 5px;
}

#slides li a {
    text-decoration-line: none;
}

#slides li .numberRectangle {
    position: absolute;
    width: 42px;
    height: 39px;
    top: 25px;
    text-align: center;

    background: rgba(0, 0, 0, 0.4);

    border-radius: 0px 5px 5px 0px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: -0.02em;

    color: #e2e2e2;
}

#slides li img {
    width: 100%;
    height: 260px;
    object-fit: cover;

    border-radius: 5px 5px 0px 0px;
    
}

#slides li .preview {
    padding: 20px;
}

#slides li .preview .title {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #363636;
}

#slides li .preview .detail {
    height: 56px;
    margin: 12px 0 0 0;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    /* 넘치는 요소 숨기기 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* 두 줄 기준 생략 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #363636;
}


/* 갤러리 제목 */
.galleryTitle {
    box-sizing: border-box;
    
    position: absolute;
    width: 198px;
    height: 68px;
    /* left: 861px; */
    margin-left: 45.4%;
    top: 919px;
    
    background: #FBFBFD;
    box-shadow: 0px 0px 20px rgba(174, 174, 192, 0.3);
    border-radius: 100px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 65px;
    
    text-align: center;
    
    color: #000000;
}

/* 게시물 추가 */
.addMemory {
    position: fixed;
    width: 80px;
    height: 80px;
    /* left: 1630px; */
    left: 86%;
    /* right: 210px; */
    /* right: 9%; */
    margin-top: 910px;
    z-index: 100;

    background: #FBFBFD;
    box-shadow: 8px 8px 12px rgba(174, 174, 192, 0.4);
    border-radius: 200px;

    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.addMemory::before {
    content: "+";
    font-size: 42px;
    font-weight: 500;
    /* transform: translate(-50%, -54%); */

    position: absolute;
    bottom: 12px;
    left: 27px;

    color: #363636;
}

.addMemory:hover {
    /* transform: translateX(71%); */
    width: 242px;
    height: 80px;
    box-shadow: 8px 8px 12px rgba(174, 174, 192, 0.4);
    border-radius: 40px;
}

.addMemory:hover::before {
    content: "+";
    font-size: 42px;
    font-weight: 500;
    left: 27px;
    /* transform: translate(-325%, -54%); */
    /* transition: none; */
    /* transition: all 0.2s ease; */
}

.addMemory.hovered::after {
    content: " add memory";
    white-space: nowrap;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 24px;
    font-weight: 500;

    position: absolute;

    left: calc(30%); /* + 다음에 추가되는 텍스트의 위치 */
    transform: translateY(60%);
}

#addMemory {
    color: #363636;
}


/* 게시판 갤러리 */
.postGallery {
    position: relative;
    width: 69.5%;
    margin-left: 16.6%;
    margin-top: 1051px;
    margin-bottom: 269px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.postGallery .item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.postGallery .itemLarge {
    grid-column: span 2;
    margin-right: 30px;
    margin-bottom: 30px;
}

.postGallery a {
    position: relative;
    /* absolute의 기본 기준은 body로 처리 -> relative로 현재 요소로 기준 변경 */
}

.postGallery figure {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.postGallery figcaption {
    /* 이미지와 겹치게 처리 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    opacity: 0;
    /* 처음엔 안 보이게 처리 */

    transition: 0.3s;
}

/* item 설정 */
.postGallery .item figcaption .title {
    position: absolute;
    width: 88%;
    height: 28px;
    margin-left: 6%;
    top: 28px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #F2F2F2;
}

.postGallery .item figcaption .detail {
    position: absolute;
    width: 88%;
    height: 84px;
    margin-left: 6%;
    top: 68px;

    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* 세 줄 기준 생략 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #F2F2F2;
}

/* itemLarge 설정 */
.postGallery .itemLarge figcaption .title {
    position: absolute;
    width: 92%;
    height: 28px;
    margin-left: 3.5%;
    top: 28px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #F2F2F2;
}

.postGallery .itemLarge figcaption .detail {
    position: absolute;
    /* width: 788px; */
    width: 92%;
    height: 84px;
    /* margin-left: 28px; */
    margin-left: 3.5%;
    top: 68px;

    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* 세 줄 기준 생략 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #F2F2F2;
}

.postGallery a:hover figcaption,
.postGallery a:focus figcaption {
    opacity: 1;
    /* 마우스를 올리면 보이게 처리 */
}

.postGallery img {
    width: 100%;
    height: 360px;

    object-fit: cover;

    background-color: #d3d3d3;

    border-radius: 5px
}

/* 더보기 버튼 */
.more {
    position: absolute;
    width: 120px;
    height: 55px;
    /* margin-left: 585px; */
    margin-left: 44%;
    bottom: -137px;

    background: #FBFBFD;
    border: 1px solid #D5D5D5;
    border-radius: 4px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;

    color: #424242;
}

/* 푸터 */
#footer {
    position: relative;
    transform: translatY(100%);
	margin-top: 5%;
    height: 213px;

    background: #F6F6FA;
}

@media(min-width:479px) {
	.logo-bottom {
		width: 3%; /* 원하는 너비 값으로 변경 */
		height: 3%; /* 높이는 자동으로 조정됨 */
		margin-left: 18.5%;
		margin-top: 2%;
	}
	

.navbar-nav-bottom {
	margin-left: auto;
	font-family: 'Pretendard';
	float: right;
	margin-right: 10%;
	margin-top: 2%;
   }

   .nav-link-b {
	margin-right: 100px;
	margin-left: 50px;
	font-family: 'Pretendard';
		color: #676769b9;
		text-decoration: none;
 }

 .line-bottom {
	width: 67%;
	margin-left: 18%;
	margin-top: 1%;
	border: 1px solid #67676930;
 }

 .nav-link-b-b {
	margin-left: 18.5%;
	font-family: 'Pretendard';
	color: #676769ac;
	text-decoration: none;
 }

 .navbar-bottom-bottom{
	margin-top: 1%;
 }
}