<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Post_Gallery.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 나열 페이지</title>
</head>

<body style="overflow-x:hidden">
    <div class="rectangle"></div>
    <div class="line"></div>
    <p class="rankingTitle">BEST MEMORY</p>

    <!--스와이프 갤러리 구현-->
    <div class="ranking">
        <ul>
            <li>
                <a href="">
                    <div class="numberRectangle">1</div>
                    <img src="" alt="">
                    <div class="preview">
                        <p class=title>생애 첫 비행기의 기억</p>
                        <p class="detail">그 때는 제가 처음 가족들과 여행을 갔던 때였어요.
                            번아웃이 와서 정말 힘들었었는데, 언니가 직접 표를 끊고
                            같이 여행이나 가자고 한 게 시작이었어요...</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="numberRectangle">2</div>
                    <img src="" alt="">
                    <div class="preview">
                        <p class=title></p>
                        <p class="detail"></p>
                    </div>

                </a>
            </li>
            <li>
                <a href="">
                    <div class="numberRectangle">3</div>
                    <img src="" alt="">
                    <div class="preview">
                        <p class=title></p>
                        <p class="detail"></p>
                    </div>

                </a>
            </li>
            <!-- <li>
                <a href="">
                    <div class="numberRectangle">4</div>
                    <img src="" alt="">
                    <div class="preview">
                        <p class=title></p>
                        <p class="detail"></p>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>

    </div>
    <div class="galleryTitle">기억 저장소</div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="postGallery">
        <ul>
            <li>
                <a href="">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <div class="title">생애 첫 비행기의 기억</div>
                            <div class="detail">그 때는 제가 처음 가족들과 여행을 갔던 때였어요.
                                번아웃이 와서 정말 힘들었었는데, 언니가 직접 표를 끊고
                                같이 여행이나 가자고 한 게 시작이었어요...</div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li class="double">
                <a href="">
                    <figure>
                        <img src="" alt="" class="double">
                        <figcaption>
                            <div class="titleDouble">생애 첫 비행기의 기억</div>
                            <div class="detailDouble">그 때는 제가 처음 가족들과 여행을 갔던 때였어요.
                                번아웃이 와서 정말 힘들었었는데, 언니가 직접 표를 끊고
                                같이 여행이나 가자고 한 게 시작이었어요...</div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <div class="title"></div>
                            <div class="detail"></div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <div class="title"></div>
                            <div class="detail"></div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <div class="title"></div>
                            <div class="detail"></div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li class="double">
                <a href="">
                    <figure>
                        <img src="" alt="" class="double">
                        <figcaption>
                            <div class="titleDouble"></div>
                            <div class="detailDouble"></div>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <div class="title"></div>
                            <div class="detail"></div>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </div>
    <button class="more">더보기</button>
    <footer id="footer"></footer>
</body>

</html>