/* header */
header {
  z-index: 2;
}

/* 스크롤 바 안뜨게 설정 */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* navbar */
@media (min-width: 479px) {
  .navbar-nav {
    margin-left: auto;
    font-family: "Pretendard";
  }
}
@media (min-width: 479px) {
  .navbar-collapse {
    margin-right: 10%;
  }
}
@media (min-width: 479px) {
  .nav-link {
    margin-right: 100px;
    margin-left: 50px;
    font-family: "Pretendard";
  }
}
@media (min-width: 479px) {
  .navbar-brand {
    margin-left: 17%;
  }
}

@media (min-width: 479px) {
  .closep {
    display: none;
  }

  .closeclose {
    display: none;
  }
}
/* .navbar-brand {
  margin-left: 7%;
} */

/* header comment_btn */
.comment_btn {
  background-color: #ffff;
  border: none;
}

/* ---------------------------------------------------------------- */

main {
  z-index: 1;
  width: 100%;
  padding: 140px 21.61% 0px 21.61%;
}
@media screen and (max-width: 479px) {
  main {
    z-index: 1;
    width: 100%;
    padding: 0px 3% 0px 3%;
  }
}

/* 글 제목 */

@media screen and (max-width: 479px) {
  #title_line1 {
    display: none;
  }
}

.title {
  text-align: left;
  padding: 44px 20px 43px 0px;
  size: 20px;
  font-family: "Pretendard";
}
@media screen and (max-width: 479px) {
  .title {
    padding: 24px 0px 20px 0px;
    font-size: 16px;
  }
}

.detail_content {
  padding: 32px 20px 60px 0px;
  font-family: "Pretendard";
}

@media screen and (max-width: 479px) {
  .detail_content {
    padding: 20px 0px 18px 0px;
    font-size: 14px;
  }
}

#main_line {
  margin-top: 75px;
}

@media screen and (max-width: 479px) {
  #main_line {
    margin-top: 28px;
  }
}

/* 이미지 보기 */

#modal.modal-overlay {
  width: 100%;
  height: 250%;
  position: absolute;
  left: 0%;
  top: 0%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
}

#btn-modal {
  border: none;
  background-color: #ffff;
  width: 51.2%;
  height: 20.93%;
}

.write_img {
  width: 100%;
}

/* 이미지 슬라이드 */

.slideshow-container {
  position: relative;
  width: 40%;
  height: 4700px; /* 슬라이드 쇼 컨테이너의 높이를 조정 */
  overflow: hidden;
  margin-top: 0%;
}

@media screen and (max-width: 479px) {
  .slideshow-container {
    height: 4000px;
    margin-top: -1300px;
    width: 312px;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 648px;
  opacity: 0;
}

@media screen and (max-width: 479px) {
  .slide {
    height: 202px;
  }
}

.slide.active {
  opacity: 1;
}

.button-container {
  position: absolute;
  top: 16%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25%;
  box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .button-container {
    /* top: 450px; */
    top: 7.5%;
    width: 95%;
    padding: 0 16%;
  }
}

@media screen and (max-width: 479px) {
  #prevButton {
    margin-left: -4px;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 479px) {
  #nextButton {
    margin-right: -4px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.button-container button {
  border: none;
  background-color: transparent;
  margin: 0;
  color: #e2e2e2;
}

#prevButton {
  font-size: 200%;
}

#nextButton {
  font-size: 200%;
}

.heart_comment {
  margin-left: 82%;
  /* white-space: nowrap; */
  display: flex;
  /* align-items: center; */
  margin-top: 52.5px;
}

.comment_img {
  margin-right: 10.33px;
}

.comment_txt {
  margin-right: 42.33px;
}

.heart_img {
  margin-right: 10.33px;
}

/* 닉네임 */
.nickname {
  border: none;
  outline: none;
  font-family: "Pretendard";
  font-size: 16px;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .nickname {
    font-size: 14px;
  }
}

input::placeholder {
  color: #cbcbcb;
}
/* 내용 작성 */
.comment_content {
  border: none;
  outline: none;
  font-family: "Pretendard";
  font-size: 16px;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .comment_content {
    font-size: 14px;
  }
}

.comment_enter {
  margin-top: 80px;
  border: 1px solid;
  padding: 24px 28px 54px;
  border-radius: 5px;
  color: #f1f1f1;
  box-shadow: 1px 1px 2px 2px #f1f1f1;
}

@media screen and (max-width: 479px) {
  .comment_enter {
    margin-top: 28px;
    padding: 16px 16px 16px;
  }
}

/* 등록 버튼 */
.enter_btn {
  border: 1px solid #bababa;
  float: right;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 12px 24px;
  margin-top: 32px;
  font-size: 16px;
  font-family: "Pretendard";
}

@media screen and (max-width: 479px) {
  .enter_btn {
    margin-top: 20px;
    font-size: 12px;
    border-radius: 15px;
    padding: 8px 20px;
  }
}
.br {
  margin-top: 200px;
}

/* 등록된 댓글 */
.e_comment {
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  padding: 24px 30px 54px;
  border-radius: 5px;
  font-family: "Pretendard";
}

@media screen and (max-width: 479px) {
  .e_comment {
    margin-top: 50px;
    padding: 16px 16px 16px;
    font-size: 14px;
  }
}

.page {
  margin: 87.52px 0% 0% 50%;
}

@media screen and (max-width: 479px) {
  .page {
    display: none;
  }
}

.page_left {
  border: none;
  background-color: #ffffff;
  color: #c2c2c2;
  margin-right: 5px;
}

.page_right {
  border: none;
  background-color: #ffffff;
  color: #c2c2c2;
  margin-left: 5px;
}

/* 푸터 */
#footer {
  position: relative;
  transform: translatY(100%);
  margin-top: 5%;
  height: 213px;

  background: #f6f6fa;
}

@media (min-width: 479px) {
  .logo-bottom {
    width: 3%; /* 원하는 너비 값으로 변경 */
    height: 3%; /* 높이는 자동으로 조정됨 */
    margin-left: 18.5%;
    margin-top: 2%;
  }

  .navbar-nav-bottom {
    margin-left: auto;
    font-family: "Pretendard";
    float: right;
    margin-right: 10%;
    margin-top: 2%;
  }

  .nav-link-b {
    margin-right: 100px;
    margin-left: 50px;
    font-family: "Pretendard";
    color: #676769b9;
    text-decoration: none;
  }

  .line-bottom {
    width: 67%;
    margin-left: 18%;
    margin-top: 1%;
    border: 1px solid #67676930;
  }

  .nav-link-b-b {
    margin-left: 18.5%;
    font-family: "Pretendard";
    color: #676769ac;
    text-decoration: none;
  }

  .navbar-bottom-bottom {
    margin-top: 1%;
  }
}
