/* 제목, 내용 */
.Post_Write input {
    border: none;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Post_Write input::placeholder {
    color: #CBCBCB;
    text-align: 50%;
    outline: none;
}

/* 제목 */
#title{
    margin-top: 5%;
    margin-left: 25.5%;
    height: 64px;
    margin-bottom: 2%;
    font-family: 'Pretendard';
    text-indent: 1%
}

/* 내용 */
#content{
    margin-left: 25.5%;
    margin-bottom: 5%;
    height: 487px;     
    font-family: 'Pretendard';
    text-indent: 1%
}



/* 사진 첨부 글씨 */
.Post_Img p{
    margin-left: 25%;
    color: #585858;
    font-size: 18px;
    margin-bottom: 2%;
    font-family: 'Pretendard';
}

li {
    list-style: none;
  }

  img {
    width: 130%;
    height: 100%;
  }

  .real-upload {
    margin-left: 20%;
    display: none;
  }

  .upload {
    margin-left: 25%;
    width: 10%;
    height: 10%;
    border: 1px;
    float: left;
  }

  .image-preview {
    margin-left: 3%;
    width: 33%;
    height: 50%;
    background-color: aquamarine;
    gap: 20px; 
    width: 10%;
    float: left;
    border: 1px;
  }

/* 게시 button */
.post_btn{
    border-color: #9D9D9D;
    color: #424242;
    background: #F5F5F5;
    border-radius: 5px;
    padding: 16px 25px;
    margin: 28px 0px;
    font-size: 16px;
    margin-left: 75%;
    font-family: 'Pretendard';
}


/* navbar */
.navbar-nav {
	margin-left: auto;
	font-family: 'Pretendard';
  }

.navbar-collapse {
  margin-right: 10%;
}
  .nav-link {
	margin-right: 100px;
	margin-left: 50px;
	font-family: 'Pretendard';
}
.navbar-brand {
	margin-left: 17%;
}


/* footer */
@media(min-width:479px) {
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 200px;
		background-color: #a8a8a8;
		color: white;
		text-align: center;
		padding: 10px;
		top: 3000px;
	  }
}